/*footer*/

.footer{
    position:fixed;
    bottom:0;
}
footer .name-page:hover{
    color: #dff;
    cursor: pointer;
}


@media (max-height:800px){
    footer{
        position:static;
    }
    header{
        padding-top:40px;
    }
}

.footer-distributed {
    background-color: #16171c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 130px 50px 130px;
    margin-top: 0;
    position: center;
}

.footer-distributed .footer-left, .footer-distributed .footer-centre, .footer-distributed .footer-right{
        display:inline-block;
        vertical-align: top;
    }

    .footer-distributed .footer-left {
        width: 31%;
        position:center;
    }

    .footer-distributed .footer-left i {
        color: #c51818;
        font-size: 35px;
        margin: 0;
    }

    .footer-distributed .name-page {
        color: white;
        font-size: 35px;
        font-family: 'Black Ops One', cursive !important;
        align-items: center;
    }

    .footer-distributed .footer-link{
        color: white;
        margin: 20px 0 12px;
    }

    .footer-distributed .footer-link a{
        display:inline-block;
        line-height:1.8;
        text-decoration:none;
        color:inherit;
    }

    .footer-distributed .footer-name-page{
        color:darkgrey;
        font-size:14px;
        font-weight: normal;
        margin:0;
    }

    .footer-distributed .footer-centre{
        width:39%;
        position:center;
    }

    .footer-distributed .footer-centre i{
        background-color:#16171c;
        color:white;
        font-size:25px;
        width:38px;
        height:38px;
        border-radius:50%;
        text-align:center;
        line-height:42px;
        margin:0 8px;
        vertical-align:middle;
        
    }

    .footer-distributed .footer-centre i.fa-envelope{
        font-size:17px;
        line-height:38px;
    }

    .footer-distributed .footer-centre p{
        display:inline-block;
        color:white;
        vertical-align:middle;
        margin:0;
    }

    .footer-distributed .footer-centre p span{
        display:block;
        font-weight:normal;
        font-size:14px;
        line-height:2;
    }

    .footer-distributed .footer-centre p a{
        color:#ffffff;
        text-decoration:none;
    }

    .footer-distributed .footer-right{
        width:29%;
        position: center;
        top: 2rem;
    }

    .footer-distributed .footer-name-page-about{
        line-height:20px;
        color:darkgray;
        font-size:13px;
        position:center;
        font-weight:normal;
    }
    
    .footer-distributed .footer-name-page-about span{
        display:block;
        color:white;
        font-size:18px;
        font-weight:bold;
        margin-bottom:10px;
    }

    .footer-distributed .footer-icons{
        margin-top:15px;
    }

    .footer-distributed .footer-icons a{
        display:inline-block;
        color:white;
        width:35px;
        height:35px;
        cursor:pointer;
        background-color:black;
        border-radius:2px;
        font-size:20px;
        text-align:center;
        line-height:35px;
        margin-right:1px;
        margin-bottom:5px;
    }

    .footer-distributed .footer-icons a:hover{
        background-color: cornflowerblue;
    }

    .footer-link a:hover{
        color:#ff0000;
    }

    @media(max-width:880px){
        .footer-distributed .footer-left, .footer-distributed .footer-centre, .footer-distributed .footer-right{
            display:block;
            width:100%;
            margin-bottom:40px;
            text-align:center;
        }
        .footer-distributed .footer-centre i{
            margin-left:0;
        }
    }

    #backtop{
        width: 50px;
        height: 50px;
        font-size: 22px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: none;
        background: #c51818;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }